
@{
    ViewBag.Title = "TrackingDeSiniestro";
}
<link href="~/assets/dist/css/tracking.css" rel="stylesheet" />




<main>

    <div class="position-relative overflow-hidden text-center bg-mapfre">
        <div class="col-md-6 p-lg-5 mx-auto my-6">
            <img src="~/assets/images/auto_grande_rojo.png" width="50%" />


            <h1 class="text-light display-4 fw-normal">Tracking de Siniestro</h1>
            <p class="text-light lead fw-normal">Revisa el estado de tu siniestro, contacto del taller, gestor y perito.</p>
        </div>
    </div>



    <div class="container-lg">

        <!-- DATOS SINIESTROS -->
        <div class="row">
            <div class="card mt-3 bg-opacity-50 bg-gris-1">
                <div class="card-body">

                    <div class="row align-items-end">

                        <div class="col-md d-flex">
                            <img class="align-self-center m-1" src="~/assets/images/icon_car_gris.PNG" width="20%" />
                            <p class="fs-5 align-self-center text-mapfre fw-semibold">Daño parcial</p>
                        </div>

                        <div class="col-md d-flex">
                            <img class="align-self-center m-1" src="~/assets/images/icon_exclamacion_gris.PNG" width="20%" />
                            <p class="fs-5 align-self-center text-mapfre fw-semibold">Estado: en proceso</p>
                        </div>

                        <div class="col-md d-flex">
                            <img class="align-self-center m-1" src="~/assets/images/icon_numero_gris.PNG" width="20%" />
                            <p class="fs-5 align-self-center text-mapfre fw-semibold">Siniestro: 123135451321</p>
                        </div>

                        <div class="col-md d-flex">
                            <img class="align-self-center m-1" src="~/assets/images/icon_peso_gris.PNG" width="20%" />
                            <p class="fs-5 align-self-center text-mapfre fw-semibold">Deducible: 56.23 UF</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- RESUMEN DE MENSAJES -->
        <div class="row">
            <div class="card mt-3 bg-opacity-50 bg-gris-1">

                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">

                        <div class="row">
                            <div class="col-md d-flex">
                                <button class="accordion-button collapsed bg-opacity-50 bg-gris-1 align-items-end" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <img class="align-self-center m-1" src="~/assets/images/icon_mail_gris.PNG" width="5%" />
                                    <p class="text-center fs-6">Resumen de mensajes</p>
                                </button>
                            </div>
                        </div>

                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>lorem ipsum y el mensaje deen lista</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!--SEGUMIENTO -->
        <div class="row">
            <div class="card bg-mapfre mt-3">
                <div class="card-body">
                    <div class="col-md d-flex">
                        <img class="align-self-center m-1" src="~/assets/images/icon_lupa_roja.PNG" width="5%" />
                        <p class="fs-6 align-self-center text-light text-mapfre fw-bold ">Seguimiento de siniestro</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- LINEA DE TIEMPO -->
        <div class="row">

            <div class="d-flex mt-3">

                <div class="col m-1">
                    <div class="row">

                        <div class="d-flex">
                            <div style="width:50px;">
                                <img class="m-1" src="~/assets/images/icon_numero_1_blanco.PNG" width="75%" />
                            </div>
                            <div class="col">
                                <div class="fw-semibold text-break fs-6">Denuncio de siniestro</div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <img class="m-1" src="~/assets/images/icon_autito_rojo.PNG" />
                        <hr class="division-linea-tiempo" />

                    </div>

                </div>

                <div class="col m-1">
                    <div class="row">

                        <div class="d-flex">
                            <div style="width:50px;">
                                <img class="m-1" src="~/assets/images/icon_numero_2_blanco.PNG" width="75%" />
                            </div>
                            <div class="col">
                                <p class="fw-semibold text-break fs-6">Analisis y valoracion</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                    </div>
                </div>

                <div class="col m-1">

                    <div class="row">
                        <div class="d-flex">
                            <div style="width:50px;">
                                <img class="m-1" src="~/assets/images/icon_numero_3_blanco.PNG" width="75%" />
                            </div>
                            <div class="col">
                                <p class="fw-semibold text-break fs-6">Ingreso a taller</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                    </div>

                </div>

                <div class="col m-1">
                    <div class="row">
                        <div class="d-flex">
                            <div style="width:50px;">
                                <img class="m-1" src="~/assets/images/icon_numero_4_blanco.PNG" width="75%" />
                            </div>
                            <div class="col">
                                <p class="fw-semibold text-break fs-6"> Inspeccion</p>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                    </div>
                </div>

                <div class="col m-1">
                    <div class="row">

                        <div class="d-flex">
                            <div style="width:50px;">
                                <img class=" m-1" src="~/assets/images/icon_numero_5_blanco.PNG" width="75%" />
                            </div>
                            <div class="col">
                                <p class="fw-semibold text-break fs-6">Orden de reparacion</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>

                <div class="col m-1">
                    <div class="row">

                        <div class="d-flex">
                            <div style="width:50px;">
                                <img class=" m-1" src="~/assets/images/icon_numero_6_blanco.PNG" width="75%" />
                            </div>
                            <div class="col">
                                <p class="fw-semibold text-break fs-6">Fecha estimada de entrega</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>

                <div class="col m-1">
                    <div class="row">

                        <div class="d-flex">
                            <div style="width:50px;">
                                <img class="m-1" src="~/assets/images/icon_numero_7_blanco.PNG " width="75%" />
                            </div>
                            <div class="col">
                                <p class="fw-semibold text-break fs-6">Entrega indenizacion</p>
                            </div>

                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>

            </div>

        </div>







        <!--Datos del taller-->

        <div class="card mt-3 bg-opacity-50 bg-gris-1">
            <div class="card-body">
                <div class="row">
                    <div class="col-2 bg-gris-3 text-center rounded-4">
                        <img class=" m-2" src="~/assets/images/icon_herramientas_gris.PNG" width="20%" />
                        <p class="fw-semibold text-mapfre">Datos del taller</p>
                    </div>


                    <div class="col-5">
                        <p style="word-spacing: 1em;">Nombre:</p>
                        <p>Tipo:</p>
                        <p>Horario de atencion:</p>

                    </div>
                    <div class="col-5  ">
                        <p>Telefono:<br /></p>
                        <br />
                        <p>Direccion:</p>

                    </div>
                </div>
            </div>
        </div>

        <!--gestor-->


        <div class="card mt-3 bg-opacity-50 bg-gris-1">
            <div class="card-body">
                <div class="row">
                    <div class="col-2 bg-gris-3 text-center rounded-4">
                        <img class=" m-2" src="~/assets/images/icon_usuario_gris.PNG" width="20%" />
                        <p class="fw-semibold text-mapfre">Gestor</p>
                    </div>


                    <div class="col-4">
                        <p style="word-spacing: 1em;">Nombre:<br /></p>
                        <p>Correo:</p>

                    </div>

                    <div class="col-2 text-center bg-gris-3 rounded-4">
                        <img class=" m-2" src="~/assets/images/icon_usuario_gris.PNG" width="20%" />
                        <p class="fw-semibold text-mapfre">Perito</p>
                    </div>

                    <div class="col-lg-4 col-md ">
                        <p>Nombre:<br /></p>

                        <p>Correo:</p>

                    </div>
                </div>
            </div>
        </div>

        <!--DESCARGA-->

        <div class="card mt-3 bg-opacity-50 bg-gris-1">
            <div class="card-body">
                <div class="row">
                    <div class="col-2 bg-mapfre text-center rounded-4 ">
                        <img class="m-2" src="~/assets/images/icon_documento_gris.PNG" width="20%" />
                        <p class="fw-semibold text-light">Informacion del siniestro</p>
                    </div>


                    <div class="col-10">
                        <p>Aqui puede descargar los documentos relacionados a tu siniestro.</p>
                        <a href="#" class="stretched-link link-danger ">Denuncio de siniestro (pdf) <br /></a>
                        <a href="#" class="stretched-link link-danger">Carta(pdf)</a>

                    </div>

                </div>
            </div>
        </div>

        <!--INFORMACION LEGAL-->

        <div class="m-3">
            <h3>informacion legal</h3>
            <p>

                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

            </p>

            <p class="collapse" id="collapseExample">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.


            </p>

            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Ver mas
            </a>

        </div>

        <!--DERECHOS-->

        <div id="copyright">MAPFRE &copy; 2022 Todos los derechos reservados.</div>


    </div>









</main>



