
@{
    ViewBag.Title = "TrackingDeSiniestro";
}
<link href="~/assets/dist/css/tracking.css" rel="stylesheet" />



<main>

    <div class="position-relative overflow-hidden text-center bg-mapfre">
        <div class="col-md-6 p-lg-5 mx-auto my-6">
            <img src="~/assets/images/auto_grande_rojo.png" width="50%" />


            <h1 class="text-light display-4 fw-normal">Tracking de Siniestro</h1>
            <p class="text-light lead fw-normal">Revisa el estado de tu siniestro, contacto del taller, gestor y perito.</p>
        </div>
    </div>



    <div class="container-lg">

        <!-- DATOS SINIESTROS -->
        <div class="row">
            <div class="card mt-3 bg-opacity-50 bg-gris-1">
                <div class="card-body">

                    <div class="row align-items-end">

                        <div class="col-md d-flex">
                            <img class="align-self-center m-1" src="~/assets/images/icon_car_gris.PNG" width="20%" />
                            <p class="fs-5 align-self-center text-mapfre fw-semibold">Daño parcial</p>
                        </div>

                        <div class="col-md d-flex">
                            <img class="align-self-center m-1" src="~/assets/images/icon_exclamacion_gris.PNG" width="20%" />
                            <p class="fs-5 align-self-center text-mapfre fw-semibold">Estado: en proceso</p>
                        </div>

                        <div class="col-md d-flex">
                            <img class="align-self-center m-1" src="~/assets/images/icon_numero_gris.PNG" width="20%" />
                            <p class="fs-5 align-self-center text-mapfre fw-semibold">Siniestro: 123135451321</p>
                        </div>

                        <div class="col-md d-flex">
                            <img class="align-self-center m-1" src="~/assets/images/icon_peso_gris.PNG" width="20%" />
                            <p class="fs-5 align-self-center text-mapfre fw-semibold">Deducible: 56.23 UF</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- RESUMEN DE MENSAJES -->
        <div class="row">
            <div class="card mt-3 bg-opacity-50 bg-gris-1">

                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">

                        <div class="row">
                            <div class="col-md d-flex">
                                <button class="accordion-button collapsed mt-3 bg-opacity-50 bg-gris-1 align-items-end" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <img class="align-self-center m-1" src="~/assets/images/icon_mail_gris.PNG" width="5%" />
                                    <p class="text-center">Resumen de mensajes</p>
                                </button>
                            </div>
                        </div>

                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>lorem ipsum y el mensaje deen lista</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!--SEGUMIENTO -->
        <div class="row">
            <div class="card bg-mapfre mt-3">
                <div class="card-body">
                    <div class="col-md d-flex">
                        <img class="align-self-center m-1" src="~/assets/images/icon_lupa_roja.PNG" width="5%" />
                        <p class="fs-6 align-self-center text-light text-mapfre fw-bold ">Seguimiento de siniestro</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- LINEA DE TIEMPO -->
        <div class="row">
            <div class="card mt-3 bg-opacity-50 bg-gris-1">

                <div class="col-md d-flex">
                    <div class="mt-3">
                        <nav>
                            <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                                    <img class=" m-1" src="~/assets/images/icon_numero_1_blanco.PNG" width="15%" style="float:left;" />
                                    <div class="fs-6 fw-bold">Denuncio <br /> de siniestro</div>
                                </button>


                                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                                    <img class=" m-1" src="~/assets/images/icon_numero_2_blanco.PNG" width="15%" style="float:left;" />
                                    <p class="fs-6 fw-bold">Analisis <br /> y valoracion</p>

                                </button>
                                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                                    <img class="m-1" src="~/assets/images/icon_numero_3_blanco.PNG" width="15%" style="float:left;" />
                                    <p class="fs-6 fw-bold">Ingreso a taller</p>

                                </button>
                                <button class="nav-link" id="nav-insp-tab" data-bs-toggle="tab" data-bs-target="#nav-insp" type="button" role="tab" aria-controls="nav-insp" aria-selected="false">
                                    <img class=" m-1" src="~/assets/images/icon_numero_4_blanco.PNG" width="15%" style="float:left;" />
                                    <p class="fs-6 fw-bold"> Inspeccion</p>


                                </button>
                                <button class="nav-link" id="nav-orden-tab" data-bs-toggle="tab" data-bs-target="#nav-orden" type="button" role="tab" aria-controls="nav-orden" aria-selected="false">
                                    <img class=" m-1" src="~/assets/images/icon_numero_5_blanco.PNG" width="15%" style="float:left;" />
                                    <p class="fs-6 fw-bold">Orden de <br /> reparacion</p>

                                </button>
                                <button class="nav-link" id="nav-fecha-tab" data-bs-toggle="tab" data-bs-target="#nav-fecha" type="button" role="tab" aria-controls="nav-fecha" aria-selected="false">
                                    <img class=" m-1" src="~/assets/images/icon_numero_6_blanco.PNG" width="15%" style="float:left;" />
                                    <p class="fs-6 fw-bold">Fecha estimada <br /> de entrega</p>

                                </button>
                                <button class="nav-link" id="nav-tab" data-bs-toggle="tab" data-bs-target="#nav-entrega" type="button" role="tab" aria-controls="nav-entrega" aria-selected="false">
                                    <img class="m-1" src="~/assets/images/icon_numero_7_blanco.PNG " width="15%" style="float:left;" />
                                    <p class="fs-6 fw-bold">Entrega<br />/indenizacion</p>

                                </button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0"> div1 </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">div2</div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">div3</div>
                            <div class="tab-pane fade" id="nav-insp" role="tabpanel" aria-labelledby="nav-insp-tab" tabindex="0">inspeccion</div>
                            <div class="tab-pane fade" id="nav-orden" role="tabpanel" aria-labelledby="nav-orden-tab" tabindex="0">orden</div>
                            <div class="tab-pane fade" id="nav-fecha" role="tabpanel" aria-labelledby="nav-fecha-tab" tabindex="0">fecha</div>
                            <div class="tab-pane fade" id="nav-entrega" role="tabpanel" aria-labelledby="nav-entrega-tab" tabindex="0">entrega</div>

                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="card mt-3 bg-opacity-50 bg-gris-1">
            <div class="card-body">
                <div class="row">
                    <div class="col-4 d-flex">
                        <img class="align-self-center m-1" src="~/assets/images/icon_herramientas_gris.PNG" width="15%" />
                        <p class="text-mapfre fw-semibold">Datos del taller</p>
                    </div>
                    <div class="col-md d-flex">
                        <p>Nombre:</p><br />
                        <p>Tipo:</p><br />
                        <p>Horario de atencion:</p>

                    </div>
                    <div class="col-md d-flex">
                        <p>Telefono:</p>
                        <br />
                        <p>Direccion:</p>
                       
                    </div>
                </div>
        </div>
        </div>




</main>



