<!DOCTYPE html>
<html lang="es" class="h-100">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=@ViewBag.Description>
    <title>@ViewBag.Title - MAPFRE</title>
    <link href="~/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
   
</head>
<body>

    @RenderBody()
        
   
</body>

<script src="~/assets/dist/js/bootstrap.bundle.min.js"></script>


</html>

